
.dropdown {
    position: fixed;
    top: -10rem;
    height: 10rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: solid rgb(57, 255, 0);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 1;
    transition: 0.5s;
}

.dropdown-toggle {
    top: 85px;
}

.macro-title {
    padding: 8rem 0rem;
    text-align: center;
}

/* Modals */

.personal-modal {
    height: 35rem;
    width: 40%;
    max-width: 415px;
    margin: 15rem auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.modal-header > h2 {
    padding-right: 4rem;
}

.modal-header > i:hover {
    cursor: pointer;
}


.personal-container {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 2rem;
}

.text-div {
    display: flex;
    flex-direction: column;
}

.text-div > label {
    padding-bottom: 0.5rem;
}

.text-div > input {
    height: 1.5rem;
    width: 80%;
    border: none;
    border-radius: 5px;
    padding-left: 0.5rem;
}

.weight-div {
    display: flex;
    flex-direction: row;
}

.weight-div > div:first-child {
    padding-right: 2rem;
}

.goal-container {
    display: flex;
}

.goal-col-one {
    padding-right: 2rem;
}

.goal-row-one,
.goal-row-two {
    padding-bottom: 0.5rem;
}