body {
    height: 100rem;
}

.dropdown {
    position: fixed;
    top: -10rem;
    height: 10rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: solid rgb(57, 255, 0);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 1;
    transition: 0.5s;
}

.dropdown-toggle {
    top: 85px;
}

.macro-title {
    padding: 12rem 0rem 8rem;
    text-align: center;
}

/* Page Options */

.macros-page-options {
    height: 3rem;
    width: 100%;
    padding-top: 10rem;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    top: -50px;
    transition: 0.5s;  
}

.macros-options-toggle {
    top: 100px;
}

.macros-page-options > button {
    height: 3rem;
    width: 30%;
    max-width: 420px;
    border: solid;
    border-radius: 5px;
    font-weight: 700;
    transition: 0.3s;
}

.macro-option-disable {
    color: rgba(163, 163, 163, 0.6) !important;
}

.open-personal:hover,
.macro-option-enable {
    cursor: pointer;
    box-shadow: 5px 5px 10px rgb(57, 255, 0);
}

/* Personal Modal */

.personal-modal {
    height: 40rem;
    width: 40%;
    max-width: 500px;
    margin: 15rem auto;
    border-radius: 10px;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 2rem 1rem;
}

.modal-header > h2 {
    padding-right: 4rem;
}

.modal-header > i:hover {
    cursor: pointer;
}

.personal-container {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 2rem;
}

.text-div {
    display: flex;
    flex-direction: column;
}

.text-div > label {
    padding-bottom: 0.5rem;
}

.text-div > input {
    height: 1.5rem;
    width: 80%;
    border: none;
    border-radius: 5px;
    padding-left: 0.5rem;
}

.weight-div {
    display: flex;
    flex-direction: row;
}

.weight-div > div:first-child {
    padding-right: 2rem;
}

.goal-container {
    display: flex;
}

.goal-col-one {
    padding-right: 2rem;
}

.goal-row-one,
.goal-row-two {
    padding-bottom: 0.5rem;
}

.personal-submit {
    width: 30%;
    margin-top: 1rem;
    padding: 0.3rem;
    border: solid rgb(1, 11, 18);
    border-radius: 5px;
    font-weight: 700;
    transition: 0.3s;
}

.personal-submit:hover {
    cursor: pointer;
    background-color: rgb(57, 255, 0);
    color: rgb(1, 11, 18);
    box-shadow: 5px 5px 15px rgb(1, 11, 18);
}

/* Macro Modal */

.macro-modal {
    height: 48rem;
    width: 40%;
    max-width: 500px;
    margin: 8rem auto;
    border-radius: 10px;
}

.macro-modal > form {
    display: flex;
    flex-direction: column;
    height: 85%;
    width: 100%;
    padding-left: 2rem;
}

.macros-required {
    margin-bottom: 1rem;
}

.macros-optional > h2 {
    margin-bottom: 1rem;
}

.food-item {
    width: 80%;
}

.macros-required > div,
.macros-optional > div {
    display: flex;
    align-items: center;
}

.macros-required > div > label,
.macros-required > label,
.macros-optional > label {
    font-size: 0.9rem;
    font-weight: 700;
    margin-left: 1rem;
}

.macros-required > div > span,
.macros-optional > div > span {
    font-size: 0.8rem;
    margin-left: 0.5rem;
}

.macros-required > div > input,
.macros-optional > div > input {
    margin: 0.4rem 0 0.7rem 1rem;
    padding: 0.2rem 0 0.2rem 0.4rem;
    border: none;
    border-radius: 5px;
}

.macros-submit {
    width: 30%;
    padding: 0.5rem 1rem;
    margin: 1rem;
    border: solid rgb(1, 11, 18);
    border-radius: 5px;
    font-weight: 700;
    transition: 0.3s;
}

.macros-submit:hover {
    cursor: pointer;
    background-color: rgb(57, 255, 0);
    color: rgb(1, 11, 18);
    box-shadow: 5px 5px 15px rgb(1, 11, 18)
}

/* Calories Burned Modal */

.calories-modal {
    height: 40rem;
    width: 40%;
    max-width: 500px;
    margin: 15rem auto;
    border-radius: 10px;
}

