
/* Hero */

.hero {
    position: relative;
    text-align: center;
}

.hero-img {
    position: relative;
    width: 100%;
    z-index: -3;
}

.hero-text {
    position: absolute;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 60%;
    max-width: 750px;
    color: rgb(57, 255, 0);
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    font-size: 3rem;
    font-weight: 600;
    z-index: -2;
}

/* Site Overview */

.site-info {
    color: white;
}

.site-info h1 {
    padding: 4rem;
    font-size: 2.5rem;
    text-align: center;
}

.info-container {
    display: flex;
    justify-content: space-evenly;
    max-width: 1500px;
    margin: 0 auto;
    color: black;
}

/* Footer */

footer {
    padding: 3rem 0;
    margin-top: 10rem;
    font-size: 1.2rem;
    text-align: center;
    border: solid rgb(57, 255, 0);
    border-radius: 10px;
}

